---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <link rel="stylesheet" href="/src/styles/global.css" />
  <section class="py-10">
    <div class="max-w-5xl mx-auto px-4">
      <h2 class="text-3xl md:text-4xl font-semibold mb-6 text-center">
        Gallery
      </h2>
      <hr class="border-gray-600 opacity-50 mb-10 w-4/5 md:w-2/3 mx-auto" />
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
        <div class="overflow-hidden rounded-lg shadow-sm">
          <img
            src="/src/images/img1.jpg"
            class="w-full h-auto object-cover"
          />
        </div>
        <div class="overflow-hidden rounded-lg shadow-sm">
          <img
            src="/src/images/img2.jpg"
            class="w-full h-auto object-cover"
          />
        </div>
        <div class="overflow-hidden rounded-lg shadow-sm">
          <img
            src="/src/images/img3.jpg"
            class="w-full h-auto object-cover"
          />
        </div>
        <div class="overflow-hidden rounded-lg shadow-sm">
          <img
            src="/src/images/img4.jpg"
            class="w-full h-auto object-cover"
          />
        </div>
        <div class="overflow-hidden rounded-lg shadow-sm">
          <img
            src="/src/images/img5.jpg"
            class="w-full h-auto object-cover"
          />
        </div>
        <div class="overflow-hidden rounded-lg shadow-sm">
          <img
            src="/src/images/img6.jpg"
            class="w-full h-auto object-cover"
          />
        </div>
      </div>
    </div>
  </section>
</Layout>
